/**
 * date: 2018-03-20 9:28
 * auth: XuQiang
**/
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: url("../images/bg_pc.png") center top no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
body .logo {
  margin-left: 200px;
  margin-top: 30px;
  width: 233px;
  height: 49px;
  background: url("../images/PC_logo.png") no-repeat;
}
body .form {
  margin-top: 131px;
  margin-left: 200px;
  width: 360px;
  height: 422px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px;
}

body .form form {
  width: 95%;
}

body .form .title {
  background: url("../images/JAGUARLANDROVER_PC.png") no-repeat;
  width: 244px;
  height: 16px;
  margin-top: 40px;
}
body .form .phoneIcon {
  display: inline-block;
  background: url("../images/ico_phone-mobile.png") no-repeat bottom center;
  width: 20px;
  height: 25px;
  position: absolute;
}

body .form .codeIcon {
  display: inline-block;
  background: url("../images/ico_code-mobile.png") no-repeat bottom center;
  width: 20px;
  height: 20px;
  position: absolute;
}

body .form hr {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 1px;
  border: none;
}
body .form input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
}
body .form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.6);
}
body .form input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.6);
}
body .form input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.6);
}
body .form input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.6);
}

body .form .phone {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 55px;
}

body .form .phone > button {
  width: 83px;
  height: 33px;
  font-size: 16px;
  color: #666666;
}

body .form .number {
  width: 69%;
  text-align: left;
  padding-left: 30px;
}
body .form .code {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}

body .form .code > input {
  width: 100%;
  text-align: left;
  padding-left: 30px;
}
body .form .info {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 15px;
  line-height: 20px;
}

body .form .info .accept {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
}

body .form .login {
  margin-top: 15px;
  width: 100%;
  height: 42px;
  font-size: 18px;
  color: #666666;
}
body .form .description {
  margin-top: 16px;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  padding: 0 12px;
}
@media screen and (max-width: 1024px) and (min-height: 600px) {
  body {
    background: url("../images/bg_phone@3x.png") center top no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  body hr {
    padding: 0;
  }
  body .logo {
    width: 117px;
    height: 25px;
    background: url("../images/logo@3x.png") no-repeat;
    background-size: 117px 25px;
    margin-top: 19px;
    margin-left: 25px;
  }
  body .form {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
    height: 380px;
    margin-top: 37px;
    padding: 0 25px;
  }
  body .form .title {
    background: url("../images/JAGUARLANDROVER@3x.png") no-repeat center;
    width: 100%;
    height: 14px;
    margin-top: 24px;
    background-size: 218px 14px;
  }
  body .form input {
    font-size: 15px;
  }
  body .form .phone {
    margin-top: 35px;
  }
  body .form .code {
    margin: 16px 0 0 0;
  }
  body .form .phone > button {
    width: 100px;
    height: 35px;
    font-size: 15px;
  }
  body .form .login {
    margin-top: 15px;
    font-size: 16px;
    height: 45px;
  }
  body button {
    border-radius: 0;
    -webkit-appearance: none;
    background-color: #ffffff;
  }
}
@media screen and (max-height: 600px) and (max-width: 1024px) {
  body {
    background: url("../images/bg_pc-mac.png") center top no-repeat;
    background-size: cover;
  }
  body .logo {
    margin-top: 10px;
    margin-left: 65px;
  }
  body .form {
    margin-top: 20px;
    height: 340px;
    margin-left: 65px;
  }
  body .form .title {
    margin-top: 15px;
  }
  body .form .number {
    margin-top: 40px;
  }
  body .form .login {
    margin-top: 45px;
  }
  body .form .description {
    padding: 0 30px;
  }
}
